html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Белый фон, как в приложении */
    display: flex;
    justify-content: center;
    width: 100%;
}

.document-container {
    width: 100%;
    max-width: 450px; /* Ограничение, чтобы на ПК картинка не растягивалась слишком сильно */
    height: 100vh;
}

.full-screen-img {
    width: 100%;
    height: auto;
    display: block;
}
